#kill the app gracefully
sudo su - tomcat -c "pm2 stop {{ deploy_dir }}/{{ pm2_config_json }}"
sudo su - tomcat -c "pgrep tail | xargs kill"

#wait for the app to shut down
sleep 5;

Date=`date +%d-%m-%Y-%H.%M.%S`
#compress the live log
sudo su - tomcat -c "find {{ deploy_dir }}/logs -type f -name '*.log' -exec gzip {} \;"

#copy the compressed live log to archive folder
log_files="contacts-importer  error  info"
for i in $log_files
do
  sudo su - tomcat -c "mv {{ deploy_dir }}/logs/$i.log.gz {{ deploy_dir }}/logs/$i.live.$Date.log.gz"
done

#sync archived logs to s3
/usr/local/scripts/copytos3-fe.sh